body, html {
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	background: url(header.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

h1 {
	font-size: 3rem;
	color: #796f77;
}

hr {
	background: #543333;
	border-width: 3px;
	width: 10vw;
}

.buffer {
	height: 10rem;
}


.btn{
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;

}

.btn-primary{
	background-color: #695353;
	border-color: #695353;
}

.btn-primary:hover{
	background-color: #543333;
	border-color: #543333;
	border-width: 4px;
}

.btn-xl {

	padding: 1rem 2rem;
}